body {
  font-family: sans-serif;
  margin: 0;
  padding: 40px;
}

img {
  max-width: 600px;
  height: auto;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}
.error {
  display: none;
  color: red;
  margin-top: 20px;
}
.cat-image {
  width: 500px;
}
.cat-general-description {
  font-size: 30px;
}

.cat-description {
  max-width: 600px;
  margin: 0;
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.breed-select {
  width: 500px;
  border: 2px solid hsl(234, 87%, 41%);
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 24px;
}

.cat-title {
  margin: 0;
  font-size: 30px;
  margin-bottom: 5px;
}

.cat-temperament {
  font-size: 18px;
}
